# Dependencies
node_modules
.pnpm-store

# Production Builds
dist
build

# Temporary sandbox & logs
server/temp/
*.log

# Environment variables
.env
.env.local

# IDE & OS files
.DS_Store
Thumbs.db
.vscode/
.idea/
